<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Top menu -->
    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Operations</a>
        </li>
    </ul>

    <div class="container mt-5">
        <h1>Debit Accounts List</h1>

        {% if debit_accounts %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in debit_accounts %}
                <tr>
                    <td>{{ account.accountID }}</td>
                    <td>{{ account.balance }}</td>
                    <td>
                        <form action="{{ url_for('execute_transaction') }}" method="post" class="d-flex align-items-center gap-2">
                            <input type="hidden" name="accountID" value="{{ account.accountID }}">
                            <select name="transaction_type" class="form-select form-select-sm">
                                <option value="1">Deposit</option>
                                <option value="2">Withdraw</option>
                            </select>
                            <input type="number" name="amount" class="form-control form-control-sm" placeholder="Amount" min="1" required>
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning mt-4" role="alert">
            No debit accounts found.
        </div>
        {% endif %}
    </div>

    <div class="container mt-5">
        <h1>Deposit Accounts List</h1>

        {% if deposit_accounts %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Close Date</th>
                    <th>Percent</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for account in deposit_accounts %}
                <tr>
                    <td>{{ account.accountID }}</td>
                    <td>{{ account.close_date }}</td>
                    <td>{{ account.percent }}</td>
                    <td>{{ account.balance }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning mt-4" role="alert">
            No deposit accounts found.
        </div>
        {% endif %}
    </div>

    <div class="container mt-5">
        <h1>Saving Accounts List</h1>

        {% if saving_accounts %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Percent</th>
                    <th>Limit</th>
                    <th>Remaining Limit</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in saving_accounts %}
                <tr>
                    <td>{{ account.accountID }}</td>
                    <td>{{ account.percent }}</td>
                    <td>{{ account.limit }}</td>
                    <td>{{ account.spent_limit }}</td>
                    <td>{{ account.balance }}</td>
                    <td>
                        <form action="{{ url_for('execute_transaction') }}" method="post" class="d-flex align-items-center gap-2">
                            <input type="hidden" name="accountID" value="{{ account.accountID }}">
                            <select name="transaction_type" class="form-select form-select-sm">
                                <option value="1">Deposit</option>
                                <option value="2">Withdraw</option>
                            </select>
                            <input type="number" name="amount" class="form-control form-control-sm" placeholder="Amount" min="1" required>
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning mt-4" role="alert">
            No saving accounts found.
        </div>
        {% endif %}
    </div>

    <div class="container mt-5">
        <h1>Credit Card Accounts List</h1>

        {% if cc_accounts %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Limit</th>
                    <th>Debt</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for account in cc_accounts %}
                <tr>
                    <td>{{ account.accountID }}</td>
                    <td>{{ account.limit }}</td>
                    <td>{{ account.debt }}</td>
                    <td>{{ account.balance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning mt-4" role="alert">
            No credit card accounts found.
        </div>
        {% endif %}
    </div>

    <div class="container mt-5">
        <h1>Credit Accounts List</h1>

        {% if credit_accounts %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Expire Date</th>
                    <th>Debt</th>
                </tr>
            </thead>
            <tbody>
                {% for account in credit_accounts %}
                <tr>
                    <td>{{ account.creditID }}</td>
                    <td>{{ account.expire_date }}</td>
                    <td>{{ account.debt }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning mt-4" role="alert">
            No credit accounts found.
        </div>
        {% endif %}
    </div>

    <div class="container mt-5">
        <h1>Operations Table</h1>

        <!-- Accordion -->
        <div class="accordion" id="operationsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Show/Hide Operations
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#operationsAccordion">
                    <div class="accordion-body">
                        <!-- Table of operations -->
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Account Number</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for operation in operations %}
                                <tr>
                                    <td>{{ operation.accountID }}</td>
                                    <td>{{ operation.type }}</td>
                                    <td>{{ operation.summ }}</td>
                                    <td>{{ operation.date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



</body>
</html>
